<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table border="2">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student</th>
      <%if check_admin(current_user.role_id)%>
        <%@subjects.map do |subject|%>
          <th><%= subject.name%></th>
        <%end%>
        <th>Total</th>
        <th>Rank</th>
        <th colspan="3">Actions</th>  
      <%else%>
        <%if current_user.user_subject.present?%>
          <%subject_id = current_user.user_subject.subject.id%>
          <th><%= current_user.user_subject.subject.name%></th>
        <%end%>
      <%end%>    
      
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.student_id %></td>
        <%if check_admin(current_user.role_id)%>
          <%@subjects.map do |subject|%>
            <td><%= student_mark(student.id,subject.id)%></td>
          <%end%>
          <td><%= student.total%></td>
          <td><%= student.rank%></td>
          <td><%= link_to 'Show', student %></td>
          <td><%= link_to 'Edit', edit_student_path(student) %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%else%>  
          <td><%= student.student_marks.find_by_subject_id(subject_id).mark rescue ""%></td>
        <%end%>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if check_admin(current_user.role_id)%><%= link_to 'New Student', new_student_path %><%end%>
