
<h1>Students Mark</h1><br>
<h2>Subject Name:  <%= @subject.name%></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= form_for @student_mark,url: {contoller: "students",action: "student_mark_create"} do |form|%>
      <% @students.each do |student| %>
        <tr>
          <%= hidden_field_tag "student_mark[id][]" ,student_mark_id(student.id,@subject.id) %>
          <%= hidden_field_tag "student_mark[student_id][]" ,student.id %>
          <td><%= student.name %></td>
          <td><%= number_field_tag "student_mark[mark][]",student_mark(student.id,@subject.id),required: true%></td>
        </tr>
      <% end %>
      <tr><td><%= form.submit "Assign"%></td></tr>
    <%end%>
  </tbody>
</table>

<br>

