<%= form_for @user_subject, url: {controller: "subjects",action: "create_teachers_subject"} do |form| %>
 

  <div class="field">
    <%= form.label :subject_id ,"Subject" %>
    <%= form.collection_select :subject_id, @subjects, :id, :name ,prompt: "Select Subject"%>
  </div>

  <div class="field">
    <%= form.label :user_id, "Teacher" %>
    <%= form.collection_select :user_id, @teachers, :id, :name,prompt: "Select Teacher" %>
  </div>

  

  <div class="actions">
    <%= form.submit "Create" %>
  </div>
<% end %>
