<p id="notice"><%= notice %></p>

<h1>Teachers Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Tecaher</th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @user_subjects.each do |user_subject| %>
      <tr>
        <td><%= user_subject.subject.name %></td>
        <td><%= user_subject.user.name %></td>
        <!-- <td><%#= link_to 'Show', subject %></td>
        <td><%#= link_to 'Edit', edit_subject_path(subject) %></td>
        <td><%#= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Subject', new_subject_path %>
