<!DOCTYPE html>
<html>
  <head>
    <title>StudentMarkList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%if check_admin(current_user.role_id)%>
        <%= link_to "Students", students_path()%>
        <%= link_to "Subjects", subjects_path()%>
        <%= link_to "Teachers", users_path()%>
        <%= link_to "Assign Subject To Teachers", assign_teachers_subjects_path()%>
      <%elsif current_user.user_subject.present?  %>  
        <%= link_to "Add Marks", mark_form_students_path()%>
      <%end%>
    <%end%>
  	<div class="row" style="float: right;">
			<% if current_user %>
			  Logged in as <%= current_user.email %>.
			  <%= link_to "Log Out", logout_path %>
			<% else %>
			  <%= link_to "Log In", login_path %>
			<% end %>
	  </div>
    <%= yield %>
  </body>
</html>
